name: Lint

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          auto_fix: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == github.repository_owner }}
          rubocop: true
          rubocop_command_prefix: bundle exec
