name: CI/Rubocop

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Build and test with Rake
        run: bundle exec rake
          
      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          auto_fix: true
          rubocop: true
          rubocop_command_prefix: bundle exec
